/* Esquemas de color del sitio */
$portafolio-white: #FDFEFF;
$portafolio-dark: #3C3837;
$portafolio-orange: rgb(255, 128, 0, 0.8);
$portafolio-black: #0000;


//Font Family
$open-sans: 'Open Sans', sans-serif; //Para los parrafos y texto general
$lobster: 'Lobster Two', cursive;
$kreon: 'Kreon', serif;


//Font weight
$regular: 400;
$bold:700;

//Font sizes
$xxx-large: 2.488rem;
$xx-large: 2.074rem;
$x-large: 1.728rem;
$large: 1.44rem;
$medium: 1.2rem;
$normal: 1rem;
$small: 0.833rem;
